<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">A mean app built in from scratch</p>
  <div>
    <a class="btn btn-primary" [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Anguler Routing</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
  </div>
    <div class="col-md-4">
      <h3>Anguler CLI</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
    </div>
    <div class="col-md-4">
        <h3>API & Token</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </p>
    </div>
</div>